<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>insertData</display-name>
    <servlet-name>insertData</servlet-name>
    <servlet-class>insertData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertData</servlet-name>
    <url-pattern>/insertData</url-pattern>
  </servlet-mapping>
  <display-name>JSW ONE BANKING</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>inserData</display-name>
    <servlet-name>inserData</servlet-name>
    <servlet-class>bankProject.inserData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inserData</servlet-name>
    <url-pattern>/inserData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertData</display-name>
    <servlet-name>InsertData</servlet-name>
    <servlet-class>bankProject.InsertData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertData</servlet-name>
    <url-pattern>/InsertData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankApplications</display-name>
    <servlet-name>BankApplications</servlet-name>
    <servlet-class>bankProject.BankApplications</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankApplications</servlet-name>
    <url-pattern>/BankApplications</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositOperation</display-name>
    <servlet-name>DepositOperation</servlet-name>
    <servlet-class>bankProject.DepositOperation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositOperation</servlet-name>
    <url-pattern>/DepositOperation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkBalance</display-name>
    <servlet-name>checkBalance</servlet-name>
    <servlet-class>bankProject.checkBalance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkBalance</servlet-name>
    <url-pattern>/checkBalance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>withdraw</display-name>
    <servlet-name>withdraw</servlet-name>
    <servlet-class>bankProject.withdraw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>withdraw</servlet-name>
    <url-pattern>/withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Signup</display-name>
    <servlet-name>Signup</servlet-name>
    <servlet-class>bankProject.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bankFunctionality</display-name>
    <servlet-name>bankFunctionality</servlet-name>
    <servlet-class>bankProject.bankFunctionality</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bankFunctionality</servlet-name>
    <url-pattern>/bankFunctionality</url-pattern>
  </servlet-mapping>
</web-app>